<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Page</title>

    <link rel="stylesheet" href="/hf.css">

</head>

<body>
    <header th:fragment="header_frag">
        <div id="masthead">
            <div id="divhead">
                <div>
                    <h1>
                        <img src="img/logo.png" alt="MoversCO">
                    </h1>
                </div><!-- .site-branding -->
                <div id="headright">
                    <div id="headcontact">
                        <div>
                            <div>
                                <div>
                                    <div class="icon"> <i class="themestek-moversco-icon-phone-call"></i></div>
                                </div>
                                <div>
                                    <h6>Telephone </h6>
                                    <h3>+123456789 </h3>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div>
                                    <div class="icon"> <i class="themestek-moversco-icon-envelope"></i></div>
                                </div>
                                <div>
                                    <h6>Email Address </h6>
                                    <h3>info@moversco.com </h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="headrequest">
                        <a href="#" title=""> Request a quote</a>
                    </div>
                </div>

            </div>

            <div id='menudiv'>
                <nav id='menu'>
                    <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
                    <ul>
                        <li><a href='http://'>Home</a></li>
                        <li><a href='http://'>Pages</a></li>
                        <li><a href='http://'>Projects</a></li>
                        <li><a href='http://'>Services</a></li>
                        <li><a href='http://'>Blog</a></li>
                        <li><a href='http://'>Contacts</a></li>
                        <li><a class='dropdown-arrow' href='http://'>Services</a>
                            <ul class='sub-menus'>
                                <li><a href='http://'>Services Sub Menu 1</a></li>
                                <li><a href='http://'>Services Sub Menu 2</a></li>
                                <li><a href='http://'>Services Sub Menu 3</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <div id='menuright'>
                    <nav id='menusocial'>
                        <ul>
                            <li><a href='http://'>F</a></li>
                            <li><a href='http://'>T</a></li>
                            <li><a href='http://'>W</a></li>
                            <li><a href='http://'>G</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>


        <div id='headbanner'>
            <img src="img/banner-04.jpg" alt="banner">
            <div id='bannerinfo'>
                <h3>We provide Best Moving Service </h3>
                <p>We offer marketing and consulting services for companies & businesses working in these industries.
                </p>
                <div>
                    <a href="#" title=""> VIEW OUR WORK</a>
                </div>
            </div>
        </div>


    </header>

    <main>
        

    </main>

    <footer th:fragment="footer_frag">
        <div id='footbanner'>
            <img src="img/formbg.png" alt="banner">
            <div id='footrequest'>
                <h3>request a </h3>
                <p>Free Quote </p>
                <form name="subscribe" action="dashboard.html">
                    <div id="sectionBG">
                        <table>
                            <tbody>
                                <tr>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input text="text" name="nom" maxlength="20" placeholder="Votre nom"></td>
                                </tr>
                                <tr>
                                    <td placeholder="Move From">
                                        <select name="ville" id="">
                                            <option value="Lille">Lille</option>
                                            <option value="Marseille">Marseille</option>
                                            <option value="Bordeaux">Bordeaux</option>
                                            <option value="Bordeaux">Grenoble</option>
                                            <option value="Bordeaux">Paris</option>
                                        </select>
                                    </td>
                                    <td placeholder="Move To">
                                        <select name="ville" id="">
                                            <option value="Lille">Lille</option>
                                            <option value="Marseille">Marseille</option>
                                            <option value="Bordeaux">Bordeaux</option>
                                            <option value="Bordeaux">Grenoble</option>
                                            <option value="Bordeaux">Paris</option>
                                        </select>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <input type="value=&quot;Valider&quot;" placeholder="Message">
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="2" id="valide">
                                        <input type="submit" value="ENVOYER">
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </form>

            </div>
        </div>

        <div id='bottom'>
            <ul>
                <li><a href='http://'>Home</a></li>
                <li><a href='http://'>About</a></li>
                <li><a href='http://'>Blog</a></li>
                <li><a href='http://'>Services</a></li>
            </ul>
            <h6>copyright Fab</h6>
            <!--<img src="img/fb.png" alt="" srcset="">-->
        </div>
    </footer>
</body>

</html>