<!DOCTYPE html>
<html lang="en"
      layout:decorate="layout"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Page</title>

    <!--<link href="/css/bootstrap5.min.css" rel="stylesheet">-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>

<header th:replace="fragments/header.html :: headerfrag"></header>
    <div style="width: 90%;margin-left: auto;margin-right: auto">
        <h1>Liste des utilisateurs</h1>
        <button class="btn btn-primary" data-bs-target="#exampleModal" data-bs-toggle="modal" type="submit">Ajouter</button>

        <table class="table table-striped table-hover">
            <thead style="background-color: #c7621e; color: whitesmoke">
            <tr>
                <th scope="col" style="width: 45px">#</th>
                <th scope="col">Nom</th>
                <th scope="col">E-mail</th>
                <th scope="col">Role</th>
                <th scope="col">Dernier RAZ</th>
                <th scope="col" style="width: 220px">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${lu} ">
                <td class="align-middle" style="width: 60px" th:text="${user.id}"></td>
                <td class="align-middle" th:text="${user.name}"></td>
                <td class="align-middle" th:text="${user.email}"></td>
                <td class="align-middle" th:text="${user.roles}"></td>
                <td class="align-middle" th:text="${user.userResetpassdate}"></td>
                <td>
                    <div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
                        <form aria-label="First group" class="btn-group me-2" role="group"
                              sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/user/edit/{id}'(id=${user.id})}">
                            <button class="btn btn-outline-primary" type="submit">Modifier</button>
                        </form>
                        <form aria-label="Second group" class="btn-group me-2" href="/user/delete/1" role="group"
                              sec:authorize="hasRole('ROLE_ADMIN')"
                              th:action="@{'/user/delete/{id}'(id=${user.id})}">
                            <button class="btn btn-outline-danger" type="submit">Supprimer</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>