<!DOCTYPE html>
<html lang="en"
      layout:decorate="layout"
      xmlns:layout="https://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>My First Page</title>

    <!--<link rel="stylesheet" href="/hf.css">-->
    <link href="/css/bootstrap5.min.css" rel="stylesheet">
    <style>
        #nomenclature {

        }
    </style>
</head>

<body>

<!--<header th:replace="fragments/header.html :: headerfrag"></header>-->
<div style="background-color: cadetblue">
    <span>Ceci est la liste des villes</span>
    <form th:action="@{'/'}">
        <button type="submit">Retour Acueil</button>
    </form>
</div>
<!--<div class="container-md w-50 mx-auto" >equals to this : style="width: 60%;margin-left: auto;margin-right: auto" in Bootstrap Style-->
    <div class="container-md mx-auto" style="width: 700px">
    <h1>Liste des villes</h1>
    <form th:action="@{'/ville/add'}">
        <button class="btn btn-primary" type="submit">Ajouter</button>
    </form>
    <!--<ul id="nomenclature">
        <li>
            <span text="Id">Id</span>
            <span text="Ville">Ville</span>
            <span text="Code Postal">Code Postal</span>
        </li>
    </ul>
        <ul>
            <li th:each="ville : ${lv} ">
                <span th:text="${ville.id}"></span>
                <span th:text="${ville.nom}"></span>
                <span sec:authorize="hasRole('ROLE_ADMIN')" th:text="${ville.codepostal}"></span>
                <form th:action="@{'/ville/edit/{id}'(id=${ville.id})}">
                    <button type="submit">Modifier</button>
                </form>
                <form sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/ville/delete/{id}'(id=${ville.id})}" >
                    <button type="submit" class="btn">
                        Delete
                    </button>
                </form>
            </li>
        </ul>-->
    <table class="table table-striped table-hover">
        <thead style="background-color: #c7621e; color: whitesmoke">
        <tr>
            <th scope="col" style="width: 45px">#</th>
            <th scope="col">Ville</th>
            <th scope="col">Code Postal</th>
            <th scope="col" style="width: 220px">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="ville : ${lv} ">
            <td class="align-middle" style="width: 60px" th:text="${ville.id}"></td>
            <td class="align-middle" th:text="${ville.nom}"></td>
            <td class="align-middle" th:text="${ville.codepostal}"></td>
            <td>
                <div aria-label="Toolbar with button groups" class="btn-toolbar" role="toolbar">
                    <form aria-label="First group" class="btn-group me-2" role="group"
                          sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/ville/edit/{id}'(id=${ville.id})}">
                        <button class="btn btn-outline-primary" type="submit">Modifier</button>
                    </form>
                    <form aria-label="Second group" class="btn-group me-2" href="/patient/delete/1" role="group"
                          sec:authorize="hasRole('ROLE_ADMIN')" th:action="@{'/ville/delete/{id}'(id=${ville.id})}">
                        <button class="btn btn-outline-danger" type="submit">Supprimer</button>
                    </form>
                </div>
            </td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</html>